electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

runtime = electron
target = 39.7.0
arch = x64
disturl = https://electronjs.org/headers
# build_from_source = true
